.definition {
  border: 2px rgb(0, 0, 0) solid;
  min-height: 40%;
  height: auto;
  width: 100%;
  color: black;
  margin-top: 10px;
  padding: 15px;
}

.title-box  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.word {
  margin-right: 20px;
}

.part-of-speech {
  margin: 0px;
  height: auto;
}