.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #435c3c;
}

body {
  margin: 0px;
  padding: 0px;
}

.home-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

aside {
  margin: 0px 100px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 25%
}

.home-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

button :active {
  background-color: rgb(205, 205, 205);
  transform: translateY(5px);
}

.stats, .favorite-card {
  color: white;
}

@media (max-width : 1000px) {
  .home-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  main {
    height: auto;
    margin: 20px;
    margin-top:5px;
  }

  .button-container {
    justify-content: center;
  }

  .game-play-button {
    padding: 2px;
    margin: 10px
  }

  aside {
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 50%;
  }

  .word {
    margin: 0px;
  };

  .header {
    justify-content: space-evenly;
  };

  .link-container {
    width: 50%;
    justify-content: space-around;
  };

  .current-guess {
    margin-bottom: 10px
  };
};
