.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 8%;
  padding-top:30px
}

.link {
  background-color: #435c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  width: auto;
  height: auto;
}

.link.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.title {
  font-size: 36px;
  padding: 13px;
  border: 2px solid #d17225;
}

.nav-link {
  color: white;
  border: 1px white solid;
  margin: 5px;
}

.link-container {
  width:30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}