.boardpiece {
  color:#6d4b1b;
  border: none;
  width: 100px;
  height: 100px;
  margin: 5px 4px;
  border-radius: 50%;
  font-size: 30px;
  transform: translateY(2px);
}

#center {
  background-color: #d17326;
  color: white
}

.boardpiece:active {
  background-color: rgb(205, 205, 205);
  transform: translateY(5px);
}