.boardpiece {
  color:#956421;
  font-family: 'Gothic A1';
  background-color: rgb(255, 255, 255);
  border: none;
  width: 80px;
  height: 80px;
  margin: 5px 4px;
  border-radius: 50%;
  font-size: 27px;
  transform: translateY(2px);
}

strong {
  font-family: 'Gothic A1';
}

#center {
  background-color: #d17326;
  color: white
}

.boardpiece:active {
  background-color: rgb(205, 205, 205);
  transform: translateY(5px);
}