.piece-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

main {
  margin: 0px 50px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99%;
}

.gameboard {
  display: flex;
  flex-direction: row;
}

.game-play-button{
  color: black; 
  font-size: 14px;
  border: 0px;
  border-radius: 3px;
  margin: 20px;
  height: 40px;
  width: 100px;
}

.game-play-button:active {
  background-color: rgb(205, 205, 205);
  transform: translateY(3px);
}

.current-guess {
  height: 40px;
  width: 200px;
  margin: 10px;
  color: white;
  background-color: #435c3c;
  border: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  height: 30px;
  font-size: 36px;
  caret-color: white;
  animation: blink-caret 1s infinite;
  text-align: center;
  outline: none;
}

@keyframes blink-caret {
  50% {
    border-color: white;
  }
}